doctype html
html(lang='zh')
  head
    title= pageTitle
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' href='css/main.css')
    link(rel='icon' href=icon type="image/x-icon")
  body
    div(class='container')
      div(class='left-section')
        div(class='head-pic')
          img(src= head_pic)
        div(class='module')
          h1(class='title') 联系方式
          each val, index in contact 
            div(style='text-align: left; padding-left: 45px;')
              span(class='subtitle')= index + ':  '
              span(class='content')= val
              br 
        div(class='module')
          h1(class='title') 教育背景
          each val, index in education 
            div(class='subtitle')= index
            div(class='content' style='text-align: center;')= val
        div(class='module')
          h1(class='title') 个人简介
          div(class='content' style='padding-left: 10px;') 
            each item in profile
              p(style='padding-bottom: 5px; text-indent: 10%')= item
        div(class='module')
          h1(class='title') 其他说明
          each val, index in others 
            div(style='text-align: left; padding-left: 30px;')
              span(class='subtitle')= index + ':  '
              a(class='content' href= 'http://' + val target='_blank')= val
              br
        div(class='module')
          h1(class='title' style='letter-spacing= 1px;') English Version
          a(class='content' style='text-align: center;' href= 'http://' + english_version) #{english_version}

      div(class='right-section')
        div(class='main-title')
          h1(class='title') #{name}
          br
          h3(class='subtitle') #{title}
        div(class='module')
          h1(class='title') 工作经历
          each item in work_exprience
            div(class='subtitle')
              span(class='company')= item.company_name
                br
                span(class='job-position')= item.job_position
              span(class='time')= item.from + ' - ' + item.to
            div(class='content')= item.content
              ul(class='list')
                each val, index in item.list
                  li(style="padding-bottom: 2px;")
                    span(style='font-weight: 900')= index + '：'
                    span= val
        div(class='module')
          h1(class='title') 个人作品
            div(class='content' style='margin-top: 7px;')
              ul(class='list')
                each val, index in personal_work
                  li
                    a(style='font-weight: 900' href= val.link target='_blank')= index + ': '
                    span= val.content

        div(class='module')
          h1(class='title') 技能评估
        div(class='skill-list')
          each val, index in skill
            div(class='skill')
              div(class='skill-name')= index
              div(class='skill-bar') 
                span(class='value' style= 'width: ' + val)
            