doctype html
html(lang='zh')
  head
    title= pageTitle
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' href='css/main.css')
  body
    div(class='container')
      div(class='left-section')
        div(class='head-pic')
          img(src='image/head.jpg')
        div(class='module')
          h1(class='title') 联系方式
          each val, index in contact 
            div(style='text-align: left; padding-left: 45px;')
              span(class='subtitle')= index + ':  '
              span(class='content')= val
              br 
        div(class='module')
          h1(class='title') 教育背景
          each val, index in education 
            div(class='subtitle')= index
            div(class='content')= val
        div(class='module')
          h1(class='title') 个人简介
          div(class='content') 
            each item in profile
              p(style='padding-bottom: 5px; text-indent: 10%')= item
        div(class='module')
          h1(class='title') 其他说明
          each val, index in others 
            div(style='text-align: left; padding-left: 30px;')
              span(class='subtitle')= index + ':  '
              a(class='content' href= 'http://' + val)= val
              br
        div(class='module')
          h1(class='title' style='letter-spacing= 1px;') English Version
          a(class='content' style='text-align: center;' href= 'http://' + english_version) #{english_version}
      div(class='right-section')
        div(class='main-title')
          h1(class='title') #{name}
          br
          h3(class='subtitle') #{title}
        div(class='module')
          h1(class='title') WORK EXPERIENCE
          div(class='subtitle')
            span(class='company') Company Name<br/>
              span(class='job-position') Job Position
            span(class='time') 2011&nbsp;-&nbsp;2012
          div(class='content') A resume/CV generator, parsing information from YAML file and output a static website which you can deploy on the Github Pages. Exactly like Hexo for generating resume static website.
            ul(class='list')
              li A resume/CV generator, parsing information from YAML file and output a static website which you can deploy on the Github Pages. Exactly like Hexo for generating resume static website.
              li A resume/CV generator, parsing information from YAML file and output a static website which you can deploy on the Github Pages. Exactly like Hexo for generating resume static website.
          div(class='subtitle')
            span(class='company') Company Name<br/>
              span(class='job-position') Job Position
            span(class='time') 2011&nbsp;-&nbsp;2012
          div(class='content') A resume/CV generator, parsing information from YAML file and output a static website which you can deploy on the Github Pages. Exactly like Hexo for generating resume static website.
            ul(class='list')
              li A resume/CV generator, parsing information from YAML file and output a static website which you can deploy on the Github Pages. Exactly like Hexo for generating resume static website.
              li A resume/CV generator, parsing information from YAML file and output a static website which you can deploy on the Github Pages. Exactly like Hexo for generating resume static website.
        div(class='module')
          h1(class='title') SKILL & EXPERTIZE
        div(class='skill-list')
          div(class='skill')
            div(class='skill-name') HTML
            div(class='skill-bar') 
              span(class='value' style='width: 50%')
          div(class='skill')
            div(class='skill-name') CSS
            div(class='skill-bar') 
              span(class='value' style='width: 40%')
          div(class='skill')
            div(class='skill-name') JavaScript
            div(class='skill-bar') 
              span(class='value' style='width: 80%')
          div(class='skill')
            div(class='skill-name') Python
            div(class='skill-bar') 
              span(class='value' style='width: 70%')
